


body{ font-family: 'Raleway', sans-serif;
font-family: 'Roboto', sans-serif;
background-color: #E5E5E5;

}
:root{
    --theme-color:#2196F3;
    --text-primary: #757575;
   --text-secondary: #212121;
--primary-bg-color: #fff;
   --primari-font:'Roboto';
   --secondary-font:'Raleway';
--footer-hero-bg-colo: #2F303A;
--accent-color: #2196f3;
--footer-hero-bg-color: #2f303a;

}



ul{ list-style: none;}



a {  text-decoration:none;
list-style: none;}

/*Logo*/
.color-logo1{ color: #2196F3}
.color-logo2{color: #000;}
.color-logo3{color: #FFF;}
.logo-box{
font-family: var(--secondary-font);
font-weight: bold;
font-size: 26px;
line-height: 1.2;
letter-spacing: 0.03em;
}

/* header */
.header {
  border-bottom: 1px solid #ececec;
}

.conteiner-menu{
  display: flex;
}
.heder-box{

font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;
background: #FFF;}

.conteiner-menu2{
  display: flex;
  flex: auto;
  align-items: center;
}
.grup-logo{
margin-left: 215px;
}

}
.grup1{

}
.grup2{
 margin-left: auto;
 margin-right: 215px;
}
/*********Герой!************/

.hero {
    padding: 200px 0;
    margin-right: auto;
    margin-left: auto;
    max-width: 1600px;
    background-color: var(--footer-hero-bg-color);

  
}

.hero > .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.hero-titel {
  margin-top: 0px;
  margin-bottom: 30px;

  color: var(--primary-bg-color);

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
/********************/
/* контейнер */
.container {
  margin-right: auto;
  margin-left: auto;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
}
/********/
.grup-logo{
  padding-top: 32px;
padding-bottom: 32px;
}
.nav-link{
color: var(--text-secondary);
font-family:  var(--primari-font);
font-weight: 500;
padding-top: 24px;
padding-bottom: 25px;
}
.nav-box{
  align-items: center;
  border-bottom: 1px solid #ECECEC;

}
.nav-link:hover, .nav-link:focus, .nav-link:active{
  color: var(--theme-color);}

.contakt-link {
        color: var(--text-primary);
}
.contakt-link:focus, .contakt-link:hover{
        color: var(--theme-color);
   
}


/* active page!!*/
.active-page{color: var(--theme-color);
font-family:var(--primari-font);
font-weight: 500;
padding-top: 32px;
padding-bottom: 32px;}

/*Навигация*/
.nav-box{
  display: flex;
  align-items: center;
  /*padding: 25px 215px;*/
  
}
.nav-menu{ display:flex;}
.nav-menu :not(:last-child){margin-right: 50px;}


.nav-contact{
  
  display: flex;
  
  
}
.nav-contact :not(:last-child){margin-right: 50px;}
/***********/



/*Features*/
.headline-features{
  
font-weight: bold;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.03em;
text-transform: uppercase;
color: var(--text-secondary);}


.text-features{
 width: 270px;   
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
color: var(--text-primary);
}

/*What we do*/
.what-we-do-healine{
   
font-weight: bold;
font-size: 36px;
line-height: 1.17;
text-align: center;
letter-spacing: 0.03em;
color: var(--text-secondary);}

/* Team*/
.team{
background: #F5F4FA;
}
.team-headline{

font-weight: bold;
font-size: 36px;
line-height: 1.17;
text-align: center;
letter-spacing: 0.03em;
color: var(--text-secondary);}
.team-name{

font-weight: 500;
font-size: 16px;
line-height: 19px;
text-align: center;
letter-spacing: 0.03em;
color: var(--text-secondary);
}
.team-positon{


font-size: 16px;
line-height: 1.9;
text-align: center;
letter-spacing: 0.03em;
color: var(--text-primary);
}
.team-box{
    width: 270px;

background-color: #fff;
}


/*filter */

/* кнопки галереии */



.contein-filter{
  display: flex;
  justify-content:center;
  
}





.filter-box{
 display: flex;
  justify-content: center;
  
   
}
.filter-box2{
 display: flex;
  flex-wrap: wrap;
   
}
/*
.filter-box{margin: 50px;}*/

.filter{cursor: pointer;
background: #F5F4FA;
border-radius: 4px;
font-weight: 500;
font-family:var(--primari-font);

font-size: 16px;
/*line-height: 1.63;
text-align: center;
letter-spacing: 0.03em;*/
padding-top: 6px;
padding-bottom: 6px;
padding-left: 22px;
padding-right: 22px;

}
.filter{
  margin-right: 8px;
  margin-bottom: 20px;
  margin-top: 94px;
}
/*
.flter :not(:last-child){margin-right: 8px;}*/



.filter:hover, .filter:active, .filter:focus  {
    color: #fff;
background-color:var(--theme-color);
font-family: var(--primari-font);
}

/* списки 
.list {
  list-style: none;
  padding: 0;
  margin: 0;
}*/


/*Portfolio projects*/
.portfolio-projects-box{
 /*width: 370px;*/

background: #FFF;
border: 1px solid #EEE;
box-sizing: border-box;
text-align: center;
margin: 15px;

}
.portfolio-project-headline{
 
font-size: 18px;
line-height: 2;
letter-spacing: 0.06em;
color: var(--text-secondary);
}
.portfolio-project-categori{

font-size: 16px;
line-height: 1.9;
letter-spacing: 0.03em;
color: var(--text-primary);
}
.images-portfolio{
   width: 370px; 
}
/*особенности*/
.contein1{
  display:flex;
  flex: auto ;

}
.contein1 :not(:last-child){margin-right: 30px;}

.headline-features{
  
font-weight: bold;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.03em;
text-transform: uppercase;
color: var(--text-secondary);
}

.text-features{
 width: 270px;   
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
color: var(--text-primary);
margin-bottom: 0;
}

.contein1-2-color{
  max-width: 1600px;
    background-color: #FFF; 
    margin-top: 0; 
    padding-top: 94px;
    padding-bottom: 94px;
}
.what-we-do-healine{
  padding-top: 94px;
}
.team-headline-section{
  padding-top: 94px;
  padding-bottom: 94px;

  
}


.footer-box{
  padding-top: 60px;
  padding-bottom: 60px;
  padding-left: 215px;
}

/*************/






/* Order a service 
.btn-order{
 
width: 200px;
height: 50px;
left: 700px;
top: 430px;
background: var(--theme-color);
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
border-radius: 4px;
cursor: pointer;}

.order-text{
  font-family: var(--primari-font);
font-weight: bold;  

line-height: 30px;
align-items: center;
text-align: center;
letter-spacing: 0.06em;
color: #FFF;
font-family:  var(--primari-font);
font-style: normal;
font-weight: bold;
}*/




/*  Footer*/
.footer-box{
background: #2F303A;}
.footer-contacts{

font-size: 14px;
line-height: 1.7;
letter-spacing: 0.03em;
color: rgba(255, 255, 255, 0.6);}
.footer-contacts:hover, .footer-contacts:active, .footer-contacts:focus  {
    color: var(--theme-color);
    font-family:   var(--primari-font);
}


.footer-address{
font-family: var(--primari-font);  
font-style:normal;
font-weight: normal;
font-size: 14px;
line-height: 1.7;
color: #FFF;}


.footer-logo{
font-family:   var(--secondary-font);
font-weight: bold;
font-size: 26px;
line-height: 1.19;
letter-spacing: 0.03em;
}

/*контейнер*/
.container {
  margin-right: auto;
  margin-left: auto;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
}
/* Блок герой */
.hero {
  padding: 200px 0;
  margin-right: auto;
  margin-left: auto;

  max-width: 1600px;
  background-color: var(--footer-hero-bg-color);
}

.hero > .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.hero-titel {
  margin-top: 0px;
  margin-bottom: 30px;

  color: var(--primary-bg-color);

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
/*Кнопка купить*/
/*.button {
  padding: 10px 32px;
  border: none;
  border-radius: 4px;

  color: var(--primary-bg-color);
  background-color: var(--accent-color);

  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
}*/
.button {
    padding: 10px 32px;
    border: none;
    border-radius: 4px;
    color: var(--primary-bg-color);
    background-color: var(--accent-color);
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
border-radius: 4px;
cursor: pointer;}


.button:hover,
.button:focus {
  color: var(--accent-color);
  background-color: var(--primary-bg-color);
}
